
/* RESETEO */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	outline: none;
	color: inherit;
	list-style: none;
	font-family: "Poppins";
}
/* FOOTER SIEMPRE EN EL BORDE INFERIOR */
/* -----------CON FLEX------------ */

/* body {
	min-height: 100vh;
	height: 100%;
	display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
}

main {
	flex: 1;
} */

/* -----------CON GRID------------ */
body {
	/* ESTAS MEDIDAS SON OBLIGATORIAS PARA QUE EL SITIO MIDA COMO MINIMO EL ALTO DE LA PANTALLA */
	min-height: 100vh;
	height: 100%;
	display: grid;
	/* ARMA TRES FILAS, "AUTO" SIGNIFICA QUE EL CONTENEDOR SE ADAPTA A SU CONTENIDO, "FR" SIGINIFICA QUE LLENA EL RESTO DEL ESPACIO */
	grid-template-rows: auto 1fr auto;
}

/* ESTILO DE TODOS LOS BOTONES */


/* HEADER CON FLEX */
header {
	/* EL HEADER QUEDA ARRIBA */
	position: sticky;
	top: 0;
	background:#712130;
	color:white;
	z-index: 1;
	/* SEPARAR LOGO Y MENU */
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	/* ESTILO */
	
	box-shadow: 0 0 20px 0 black;
}

/* NAV CON FLEX */
nav {
	display: flex;
	/* EN VEZ DE DAR PADDING A LOS BOTONES, AL SER SOLO PALABRAS USAMOS "GAP" QUE AGREGA ESPACIO ENTRE LOS ITEMS, DE ESTA FORMA NO HAY QUE DARLE UN ANCHO AL NAV/UL NI PADDING/MARGIN A LOS ENLACES */
	gap: 1em;
}

/* HERO CENTRADO CON GRID */
.hero {
	background-color: orangered;
		/*no-repeat center/cover;*/
	height: 80vh;
	display: grid;
	place-content: center; /* ESTO CENTRA LOS HIJOS DEL PADRE VERTICAL Y HORIZONTALMENTE */
}

/* ESTILO DE LA CAJA DE TEXTO */
.hero-txt {
	text-align: center;
	max-width: 50vw;
}

.hero-txt h1 > span {
	margin-top: 0.7em;
	display: block; /* FILA NUEVA */
	/* REDUCIR TIPOGRAFIA Y NEGRITA */
	font-size: 0.7em;
	font-weight: 400;
	line-height: 1.8em;
}



.aprendizaje {
	padding: 3em;
}

.title-c {
	text-align: center;
	margin-bottom: 1.5em;
	text-decoration: underline #db74bb 0.2em;
	/* SEPARA EL SUBRAYADO DEL TEXTO */
	text-underline-offset: 0.3em;
}

/* CONTENEDOR DE TARJETAS RESPONSIVE CON GRID */
.contenedor {
	display: grid;
	/* 	-------------AL USAR GRID, LA ULTIMA FILA NO QUEDA CENTRADA-------------
	GRID-TEMPLATE-COLUMNS: Esta propiedad de GRID crea las columnas de la grilla.
	-REPEAT-> (cantidad de columnas, misma medida) -> repeat(2,200px) crea 2 columnas/filas de 200px.
	-AUTO-FIT-> GRID CREA TANTAS COLUMNAS COMO ITEMS.
	--> AUTO-FIT PUEDE CAMBIARSE POR AUTO-FILL QUE SIGUE CREANDO COLUMNAS AUNQUE YA USO TODOS LOS ITEMS.
	-MINMAX-> CADA COLUMNA TIENE COMO MÍNIMO XXX y COMO MÁXIMO UNA FRACCIÓN*/

	/* 	repeat (numero de veces que repite, medida) */
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 2em;
}











